{% extends 'base.html' %}
{% load static %}
{% block title %} Pricing COVID-19 Testing {% endblock %}
{% block meta %} At Home Covid-19 Testing{% endblock %}
{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/12.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Our Pricing</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Our Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

    <!-- Covid-19 Testing Pricing Table Area Start -->
  <section class="Covid-19 Testing-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Pricing</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="Covid-19 Testing-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Service Names</th>
                  <th scope="col">Visits</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Rapid At home COVID-19 Testing</th>
                  <td>1 </td>
                  <td>$200.00</td>
                </tr>
                <tr>
                  <th scope="row">Regular At home COVID-19 Testing</th>
                  <td>1 </td>
                  <td>$100.00</td>
                </tr>
                <tr>
                  <th scope="row">Wellness Exam</th>
                  <td>1 </td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <th scope="row">Group COVID-19-19 Testing</th>
                  <td>1 </td>
                  <td>$Included</td>
                </tr>
                <tr>
                  <th scope="row">Follow Up Treatment</th>
                  <td>1-5</td>
                  <td>$TBD</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn Covid-19 Testing-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Covid-19 Testing Pricing Table Area End -->



{% endblock %}